.DS_Store
.idea
htmlcov
.editorconfig
.gitignore
.gitattributes
.pylintrc
.vscode
.venv
.ruff_cache
.pytest_cache
__pycache__
.coverage
*__pycache__
**/__pycache__
**/*/__pycache__
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*__pycache__*
__pycache__/*
**/__pycache__/
.pre-commit-config.yaml

Makefile
LICENSE
CONTRIBUTING.md
CODE_OF_CONDUCT.md
TEAM.md
docker-compose.yaml
Dockerfile
.coverage