python-dotenv
python-jose[cryptography]
bcrypt==4.3.0
passlib[bcrypt]
python-multipart
pydantic-settings
pydantic[email]
httpx
app-store-server-library
google-api-python-client
google-auth
sentry-sdk[fastapi]
boto3